*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*navbar buttons*/
.header-button:hover{
    background-color:#D3D3D3;
}
.donate-button:hover{
    background-color:#f08b6c;
}
/*about us text*/
.about-text{
    width: 400px;
    height: auto;
    background-color: #e8643b;
    background-image: url(https://uploads-ssl.webflow.com/5c3cb52…/5c3d031…_Heart.svg); /*change this to reg image*/
    image-orientation: left;
    text-align: left;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 20px;
    color: black;
    font-weight: 500;
    line-height: 25px;
    border-radius: 20px;
    text-decoration: none;
    float: right;
    overflow:hidden;
  }
  /*about us hero image (clipped in a circle)*/
  .about-us-img{
    max-width:40%;
    margin-left:30%;
    margin-right:30%;
    height:auto;
    clip-path: circle(250px);

  }
  .about-text2{
    width: 400px;
    height: auto;
    background-color: lightgray;
    background-image: url(https://uploads-ssl.webflow.com/5c3cb52…/5c3d031…_Heart.svg); /*change this to reg image*/
    image-orientation: left;
    text-align: left;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 20px;
    color: black;
    font-weight: 500;
    line-height: 25px;
    border-radius: 20px;
    text-decoration: none;
    
    overflow:hidden;
  }
.block{
    display:block;
}
/*min-height set for flex containers*/
body {
    min-height:100vh;
    width:100%;
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 24px;
    margin:0px;
}
.bolded{
    font-weight:bold;
}
.border{
    border-radius: 10%;
    border: 1px solid gray;
}
/*button for PDFs for camp college*/
.campcollege-button-style{
    width:20vw;
    height:10vh;
    text-align:center;
    background-color:white;
    border: 1px solid black;
    box-shadow: 2px 2px 2px lightgray;
}
/*sections for camp college*/
.campcollege-block-section{
    display:block;
    text-align:center;
    height:fit-content;
    margin: 5% 10%;
}
.campcollege-hero-background{
    position:relative;
    width:100%;
    height:50vh;
    background-image: url("../images/Camp College 2022_Group 2ver2.jpg");
    background-position-x: center;
    background-clip: content-box;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.campcollege-hero-font{
    color:white;
    border:1px solid white;
    text-shadow: #000 2px 2px 2px;
    border-radius:40px;
    box-shadow:2px 2px 2px solid black;
    padding-right:20%;
    padding-left:20%;
    padding-top:5%;
    padding-bottom:5%;
    margin-top:10vh;
    text-align:center;
}
/*center horizontally*/
.center{
    margin-left:auto;
    margin-right:auto;
}
.center-vertical{
    margin-top:auto;
    margin-bottom:auto;
}
/*collapsibles on staff page*/
.collapsible {
    background-color: #eee;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:3vh;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
.active, .collapsible:hover {
    background-color: #ccc;
}

/*college and career logo on homepage*/
.college-and-career-logo{
    max-width:15vw;
    height:auto;
    display:block;
    border:1px solid black;
    box-shadow: 3px 3px 2px #CCC;
}
/*container for page content as well as content for collapsibles*/
.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.2s ease-out;
  }
/*contact us region on homepage*/
.contact-us{
    width:100%;
    height:auto;
    text-align:center;
    background-color: #2aabe1;
    margin:auto;
    padding:50px;
    grid-area: contact;
}
.contact-us > h1{
    color:#fafafa;
}
.contact-us-form{
    width:80%;
    height:80%;
    background-color:#fafafa;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
.contact-us-form > p{
    padding:0px;
    padding-left:40px;
    margin:0px;

}
/*standard container*/
.container{
    padding:0px;
    margin:0px;
    text-align:center;
}
/*container for staff bios so footer will be pushed to the bottom of the page*/
.container-staff-bios{
    width:100%;
    height:fit-content;
    margin:0px;
    padding-bottom:5vh;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    flex-direction:row;
}
div.image-caption{
    text-align: center;
    display:inline-block;
}
/*generic padding for some pages*/
div.with-padding{
    padding:100px;
}
/*donate nav button*/
.donate-button{
    width: auto;
    min-width:10vw;
    height: auto;
    background-color: #e8643b;
    background-image: url(https://uploads-ssl.webflow.com/5c3cb52…/5c3d031…_Heart.svg); /*change this to reg image*/
    image-orientation: left;
    text-align: center;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 20px;
    color: black;
    font-weight: 500;
    line-height: 25px;
    text-decoration: none;
    float:right;
    overflow:hidden;
}
/*horizontal-flex container*/
.flex-container-horizontal{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    justify-content:space-around;
    width:100%;
}
/*vertical flex container*/
.flex{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:baseline;
    justify-content:center;
    min-height:100vh;
    width:100%;
}
.footer{
    grid-area:footer;
    position:relative;
    display:grid;
    flex-direction:column;
    margin-top:auto;
    width:100%;
    height:auto;
    padding-left:10vw;
    text-align:left;
    background-color: #37282f;
    color: #fafafa;
    bottom:0;
    padding-top: 15px;
    flex-grow:0;
    flex-shrink:0;
}
.footer > p {
    margin-bottom:0px;
    display:block;
}
.footer-text{
    margin-top:auto;
    margin-bottom:auto;
    grid-column:1;
}
/*images within staff bios*/
.gallery-image{
    width:200px;
    height:200px;
    padding:10px;
    border-radius: 20px;
    object-fit:cover;
    animation-name: fade-in-staff-bios;
    animation-duration:1s;
    opacity:1;
}
.gallery > div > p{
    animation-name: fade-in-staff-bios;
    animation-duration: 1s;
    text-align:center;
}
/*hero background for gateway scholars*/
.gateway-hero-background{
    position:relative;
    width:100%;
    height:auto;
    background-image: url("../images/Dr. Mo2monochrome.jpg");
    background-position-x: center;
    background-clip:content-box;
    background-attachment:fixed;
    background-repeat:no-repeat;
}
.gateway-hero-background p{
    text-align:left;
    font-size:x-large;
    line-height:60px;
    font-weight:bolder;
    color: black;
    opacity:1;
    padding:50px;
}
.display-grid{
    display:grid;
}

header{
    margin: 0px;
    padding: 0px;
    display:block;
    width: 100%;
    height:auto;
    grid-area:header;
    grid-column: 1 / 2;
}
/*buttons on the navbar*/
.header-button
{
    width: auto;
    min-width:10vw;
    height: auto;
    background: #fafafa;
    text-align: center;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-weight: 500;
    line-height: 25px;
    text-decoration: none;
    float:right;
    overflow:hidden;
}
/*blue section above the navbar*/
.header-upper{
    grid-area:header;
    height:35px;
    width:100%;
    padding: 0px;
    margin: 0px;
    background-color: #2aabe1;
    display:block;
    border-bottom:1px solid #000;
}
h1 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: Oswald, sans-serif;
    color: #444;
    font-size: 36px;
    line-height: 46px;
    font-weight: 600;
    text-align: center;
    display:inline-block;
}
h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Oswald, sans-serif;
    color: #444;
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
    text-transform: uppercase;
}
h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #444;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
}
/*displays google maps*/
.iframe-homepage{
    width:100%;
    height:auto;
    padding:none;
    margin:none;
    float:right;
    grid-column:2;
}
.image{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
/*used on homepage (archway clip)*/
.image-archway{
    grid-area: image-archway;
    position:relative;
    top: 300px;
    left: 50%;
    max-width:1200px;
    min-width:50%;
    margin-bottom:100px;
    height:auto;
    transform: translate(-50%, -50%);
    height: 500px;
    max-height:500px;
    width: auto;
    border-radius: 900px 900px 0 0;
    background-clip: content-box;
    background-image: url("../images/CAM on campus.jpeg");
    background-position: top;
    background-size: auto, cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.imglogo{
    float: right;
    padding-right: 97px;
    
}
/*container for initiatives on the homepage*/
.initiative-container{
    clear:both;
    position:relative;
    gap:20px;
    width:auto;
    height:fit-content;
    margin:auto;
    padding-left:120px;
    padding-right:120px;
    padding-top:5vw;
    padding-bottom:5vw;
    overflow:visible;
    display:block;
}
.initiative-desc-left{
    padding-right: 68px;
    margin:auto;
    width:auto;
    min-width:25%;
    overflow:hidden;
}
.initiative-desc-right{
    padding-left:68px;
    margin:auto;
    width:auto;
    float:left;
    text-align:right;
    min-width:25%;
    overflow:hidden;
}
.initiative-desc-right > h2 > a, .initiative-desc-left > h2 > a{
   text-decoration: none !important;   
   color:black;
}
.inline-block{
    display:inline-block;
}
/*initiatives media on the homepage (camp college, gateway scholars, etc.)*/
.initiative-media{
    max-width:30vw;
    height:auto;
    margin:auto;
}
/*general larger sized text*/
.large-text{
    font-size:20px;
    font-weight:medium;
    line-height:40px;
}
.left{
    float:left;
}
li{
    display:inline;
    float:right;
}
/*for use in regular lists; navbar uses li otherwise*/
.li-list-style{
    display:list-item;
    text-align:left;
    width:100%;
    height:20px;
    margin:auto;
}
.link-style-none{
    text-decoration:none;
    color:black;
}
.logo {
    height: auto;
    padding-left: 0px;
}
.collegeandcareerlogo{
    width:500px;
    height:200px;
}
.margin-left{
    margin-left:50px;
}
.margin-right{
    margin-right:50px;
}
.margin-top{
    margin-top:50px;
}
.margin-bottom{
    margin-bottom:50px;
}
/*signup form for enewsletter*/
#mc_embed_signup{
    background:#fff;
    clear:left;
    font: 14px Helvetica, sans-serif, open-sans;
}
/*general media for grid areas*/
.media{
    grid-area: media;
    width:100%;
    height:auto;
    max-width:40vw;
}
.max-25{
    max-width:24%;
}
.mission-statment{
    font-style: italic;
}
.navbar {
    grid-area:header;
    position: relative;
    z-index: 5000;
    display: block;
    margin-bottom: 0px;
    background-color: #fafafa;
}
/*not used but can be implemented*/
.navbar-socials{
    grid-area:header;
    margin-top:0px;
    margin-right:15px;
}
p {
    margin-bottom: 10px;
    line-height: 26px;
    text-decoration: none;
}
.padding-top{
    padding-top:50px;
}
.padding-bottom{
    padding-bottom:50px;
}
.padding-right{
    padding-right:10vw;
}
.padding-left{
    padding-left:10vw;
}
.quarter{
    width:50%;
    height:auto;
    padding:none;
}
.right{
    float:right;
}
.padding-sides{
    padding-left:10vw;
    padding-right:10vw;
}
.small-line-border{
    border-bottom: 1px solid darkgray;
    width:750px;
}
/*for social icons in the footer*/
.socials{
    min-width:40px;
    height:auto;
    max-width:60px;
    background-color:transparent;
}
.space-above{
    padding-top:5vw;
}
.space-below{
    padding-bottom:5vw;
}
.span-step{
    color: #2AABE1;
}
.span-step-up{
    color: #F04F23;
}
/*cell for one of the staff bios in the staff page*/
.staff-bios-cell{
    width:fit-content;
    max-width:25vw;
    margin:20px;
    padding-bottom:20px;
    text-align:center;
    padding:15px;
    border: 1px solid lightgray;
    border-radius: 20px;
}
/*container within the content tab*/
.staff-container{
    width:100%;
    min-height:100vh;
    height:auto;
    clear:both;
    float:none;
}
.align-left{
    text-align:left;
}
.title{
    grid-area:title;
    margin-bottom:auto;
    font-family: Oswald, sans-serif;
    display: block;
    text-align:center;
    overflow:auto;
    width:100%;
}
.tall{
    min-height:30vw;
}
.text-container{
    margin:auto;
    text-align:center;
    padding:10%;
}
.text-white{
    color:white;
}
/*ul for use in the navbar*/
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
/*ul for use in regular lists*/
.ul-list-style{
    list-style-type:disc;
    margin:5%;
    padding-bottom:5%;
}
.whyapply-media-container{
    display:grid;
    padding-top:3vh;
    padding-bottom:3vh;
    grid-template-areas: "whyapply1 whyapply2";
}
.whyapply-1{
    grid-area:whyapply1;
    object-fit:contain;
    width:auto;
    height:auto;
    min-width:50%;
}
.whyapply-2{
    grid-area:whyapply2;
    object-fit:contain;
    width:auto;
    min-width:50%;
    height:auto;
}
.wrapper{
    grid-template-areas: "title" "image-archway" "initiative-desc-right" "initiative-desc-left" "initiative-media" "contact" "footer";
}
.wrapper-generic{
    display:grid;
    grid-template-areas: 
    "header" 
    "title" 
    "container" 
    "contact"
    "footer";
}

/*media queries*/
@media only screen and (max-width: 1026px) {
    .fadeshow1{display:none}
    .header-button{
        padding:none;
    }
    .donate-button{
        padding:none;
    }
    .wrapper{
        grid-template-columns: 100%;
        grid-template-rows: minmax(100px, 50%);
        grid-template-areas: "title" 
        "initiative-desc-left" 
        "initiative-media" 
        "initiative-desc-right" 
        "initiative-media" 
        "initiative-desc-left" 
        "initiative-media" 
        "footer";
        justify-content:space-between;
        justify-items:center;
    }
    .small-line-border{
        border-bottom: 1px solid darkgray;
        width:300px;
    }
    .gallery-image{
        min-width:50vw;
        max-width:70vw;
        height:auto;
    }
    .staff-bios-cell{
        width:75%;
        max-width:75vw;
        text-align:center;
    }
    .initiative-desc-left{
        display:block;
        text-align:center;
        float:none;
        margin:0px;
        padding-right:0px;
    }
    .initiative-desc-right{
        display:block;
        text-align:center;
        float:none;
        margin:0px;
        padding-left:0px;
    }
}
@media only screen and (max-width:500px)
{
    .fadeshow2{display:none}
    .wrapper{
        grid-template-columns: repeat(autofit, minmax(500px, 1fr));
        grid-template-rows: minmax(100px, 50%);
        grid-template-areas: "title title" 
        "initiative-desc-left" 
        "initiative-media" 
        "initiative-desc-right" 
        "initiative-media" 
        "initiative-desc-left" 
        "initiative-media" 
        "footer footer";
        justify-content:space-between;
        justify-items:center;
    }
    .wrapper-generic{
        grid-template-columns: auto;
        grid-template-areas: "header" 
        "title" 
        "content"
        "footer";
    }
    .two-image-container{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap:50px;
        grid-template-areas: "media"
        "media";
    }
    
}
@media only screen and (max-width:750px)
{
    .fadeshow3{display:none}
}
@media only screen and (max-width: 800px)
{
    .wrapper{
        grid-template-columns: repeat(auto-fit, minmax(500px,1fr) );
        grid-template-areas: "title title" 
        "image-archway image-archway" 
        "initiative-container initiative-container"
        "initiative-container initiative-container"
        "intiative-container initiati"
        "footer footer";
        justify-content:space-between;
        justify-items:center;
    }
    .wrapper-generic{
        grid-template-columns: auto;
        grid-template-areas: "header" "title" "media" "contact" "footer";
    }
    .whyapply-media-container{
        grid-template-rows: repeat(minmax(200px, 50vw), 2);
        grid-template-areas: 
        "whyapplymedia1" 
        "whyapplymedia2";
    }
    .whyapply-1{
        grid-row:1;
    }
    .whyapply-2{
        grid-row:2;
    }
    .two-image-container{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap:50px;
        grid-template-areas: "media media";
    }
    .initiative-container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "initiative-desc-left" "initiative-media"
        "initiative-media" "initiative-desc-right"
        "initiative-desc-left" "initiative-media"
    }
    
}
/*animation for staff bios*/
@keyframes fade-in-staff-bios{
    0%{opacity:0;
    }
    100%{opacity:1;
    }
}

/*STEPUP PART!!!*/

.container {
    display: block;
    margin: 0 auto;
    max-width: 100%;
   /* background-color: #e3e2e2;*/
}

#otherText h1 {
    color: orange;
}

.header-color{
    height:100%;
    width:100%;
    padding: 20px;
    margin: 0px;
    background-color: #2fabe1;
    display:block;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.footer-color{
    height:100%;
    width:100%;
    padding: 20px;
    margin-top: 50px;
    background-color: #2fabe1;
    display:block;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.body1{
    text-align: left;
    margin-top: 10px;
    border: 5px solid #2fabe1; width:40%; 
    padding:10px;
    float:left;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.body2{
    text-align: right;
    margin-top: 195px;
    border: 5px solid #2fabe1; width:40%; 
    padding:10px;
    float:right;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.body3{
    text-align: left;
    margin-top: 190px;
    border: 5px solid #2fabe1; width:40%; 
    padding:10px;
    float:left;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.link-part{
    margin-top: 500px;
    text-align: center;
    
}
footer{
    padding-top: 30px;
}
.contact-info{
    padding:10px;
    border: 5px solid #2fabe1; width:30%; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.map-part{
    margin-top: -260px;
    margin-left: 50%;
    margin-right: -150px;
}